@model Web.ViewModel.CadastroRecursoVM

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Cadastro de Recurso
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Registros</h3>
                <button type="button" class="button btnBolivia pull-right" onclick="PartialViewCadastrarRecurso('@Url.Action("Cadastrar", "CadastroRecurso")')">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
            <div class="box-body">
                <table id="tab_cadastro_recurso" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th hidden>Id</th>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var recurso in Model.Equipamentos) {
                            <tr>
                                <td hidden>@Html.HiddenFor(model => recurso.Id)</td>
                                <td>@Html.DisplayFor(model => recurso.Descricao)</td>
                                <td>
                                    <center>
                                        <button type="button" class="btn btn-social-icon btn-primary" onclick="PartialViewEditarRecurso('@Url.Action("EditarRecurso", "CadastroRecurso", recurso)')"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-social-icon btn-warning" onclick="PopupFormExcluirRecurso('@Url.Action("ExcluirRecurso", "CadastroRecurso", recurso)')"><i class="fa fa-trash"></i></button>
                                    </center>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="cadastro" />
    </section>
</div>