@model Web.ViewModel.CadastroUsuarioVM
<section class="content">
    <iframe hidden onload="EixoVisivelVisualizar()"></iframe>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                    <label>CPF</label>
                    <div id="nome_cpf" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(model => model.Usuario.Cpf, new {
                            htmlAttributes = new {
                                @class = "form-control",
                                @disabled = "disabled"
                            }
                        })
                    </div>
                </div>
                <div class="form-group">
                    <label>Nome Completo</label>
                    <div id="nome_completo" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(model => model.Usuario.Nome, new {
                            htmlAttributes = new {
                                @class = "form-control",
                                @disabled = "disabled"
                            }
                        })
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div id="nome_email" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        @Html.EditorFor(model => model.Usuario.Email, new {
                            htmlAttributes = new {
                                @class = "form-control",
                                @disabled = "disabled"
                            }
                        })
                    </div>
                </div>
                <div class="form-group">
                    <label>Tipo Usuário</label>
                    <div id="nome_eixo" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(usuarios => Model.Usuario.TipoUsuario, new {
                            htmlAttributes = new {
                                @id="usuario_tipo",
                                @class = "form-control",
                                @disabled = "disabled"
                            }
                        })
                    </div>
                </div>
                <div class="form-group" id="eixo_visivel" style="display:none;">
                    <label>Eixo Educacional</label>
                    <div id="nome_eixo" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(usuarios => Model.Usuario.EixoEducacional, new {
                       htmlAttributes = new {
                           @class = "form-control",
                           @disabled = "disabled"
                       }
                   })
                    </div>
                </div>


            </div>
        </div>
        <div class="box-body">
            <div class="box-footer">
                <div class="text-center">
                    <button type="button" class="btn bg-navy btn margin" onclick="CancelarWindowsForms()"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</button>
                </div>
            </div>
        </div>
    </div>
</section>